/*SELECTOR UNIVERSAL*/
* {
  background-color: #ced3ce;
  list-style-typ;
}
li{
  list-style-type: disc;
}
body {
  margin: 20px;
  padding: 20px;
}
/*SELECTOR DE ETIQUETA o elemento*/
h1 {
  background-color: rgb(90, 89, 89)
  ;margin-right: 35%;
  margin-top: 1%;
  text-align: center;
}
address {
  background-color: rgb(167, 166, 166);
  text-align:right ;
}
div {
  border: solid 2px rgb(23, 22, 24);
  border-left: solid 2px rgb(27, 27, 29);
  border-right: solid 2px rgb(26, 27, 29);
  border-radius: 24px;
}
/*SELECTOR 
DE
CLASE*/


p.parrafoazul {
  background-color: rgb(173, 173, 175);
}
/*SELECTOR DE ID*/
p#parrafoamarillo {
  background-color: rgb(151, 148, 148);
}
/*SELECTOR
DESCENDIENTE
*/
div p {
  color: rgb(9, 9, 10);
}
/*SELECTORR HIJO*/
div.div2 > p {
  color: rgb(14, 1, 1);
}
div.div3 {
  border-width: 2px;
  
  ;
}
